<ion-item>
  <span>
    Lets set up your profile
  </span>
</ion-item>
<form (ngSubmit)="profileCreationForm()">
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" 
              placeholder="Let your creativity show"
              [(ngModel)]="creation.username" 
              name="username">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Motto</ion-label>
    <ion-input type="text" 
              placeholder="Write something about yourself here."
              [(ngModel)]="creation.motto" 
              name="motto">
    </ion-input>
  </ion-item>
  <span>Profile picture coming soon.</span>
  <ion-button expand="block" type="submit">Submit</ion-button>
  <ion-button expand="block" routerLink="" routerDirection="root">Back to login</ion-button>
</form>
