<form (ngSubmit)="registerForm()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="Email" 
                [(ngModel)]="register.email" 
                name="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="Password" 
                [(ngModel)]="register.password" 
                name="password">
      </ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input type="Password" 
                  [(ngModel)]="register.confirmPassword" 
                  name="confirmPassword">
        </ion-input>
      </ion-item>
    <ion-button expand="block" type="submit">Register</ion-button>
    <ion-button expand="block" routerLink="/login" routerDirection="root">Back to login</ion-button>
  </form>
  